@model ContactModel;  // Model declaration: Indicates the type of model that this view expects

<!-- Form for deleting a contact, submitting to the "Delete" action -->
<form method="post" asp-action="DeleteContact">
    <div class="border p-3 mt-4" style="border-collapse: collapse; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
        <!-- Styling for the delete form section -->
        <div class="row">
            <h2 class="text-warning">Are you sure you want to delete this contact?</h2>  <!-- Heading for the delete section -->
        </div>

        <div class="">
            <label asp-for="Id" hidden="hidden"></label>
            <input asp-for="Id" hidden="hidden" readonly id="bg-on-delete" class="form-control" />  <!-- Read-only input for first name -->
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>  <!-- Display validation summary for all errors -->
        <!-- Input fields for contact details (read-only) -->
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" readonly id="bg-on-delete" class="form-control" />  <!-- Read-only input for first name -->
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" readonly id="bg-on-delete" class="form-control" />  <!-- Read-only input for last name -->
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly id="bg-on-delete" class="form-control" />  <!-- Read-only input for phone number -->
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" readonly id="bg-on-delete" class="form-control" />  <!-- Read-only input for email -->
        </div>

        <!-- Delete button and Back to Contacts link -->
        <button type="submit" class="btn btn-primary">Delete</button>  <!-- Button to submit the delete form -->
        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">
            Back to Contacts
        </a>  <!-- Link to navigate back to the contacts list -->
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> <!-- Include validation scripts -->
    }
}