@{
    ViewData["Title"] = "No Results Found";
}

<div class="d-flex align-items-center justify-content-center vh-50 mt-5">
    <div>
        <h1>No Search Results Found</h1>
    </div>
    
</div>
<div class="d-flex align-items-center justify-content-center">
    <div>
        <a asp-controller="Contact" asp-action="Index" class="btn btn-primary">
            Back to Contacts
        </a> <!-- Button to navigate back to the main contacts list -->
    </div>
</div>



