<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/189f2c83-e4e3-454b-a356-a3c8fbb753c2/resourceGroups/ASP.Net-ContactApp-Test/providers/Microsoft.Web/sites/ContactAppWeb</ResourceId>
    <ResourceGroup>ASP.Net-ContactApp-Test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://contactappweb.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://contactappweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ContactAppWeb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>