<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/189f2c83-e4e3-454b-a356-a3c8fbb753c2/resourceGroups/Contact-Management-App_group/providers/Microsoft.Web/sites/Contact-Management-App</ResourceId>
    <ResourceGroup>Contact-Management-App_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://contact-management-app.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://contact-management-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Contact-Management-App</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>